--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchaudio==0.13.1
gradio==3.22.1
ffmpeg-python
moviepy
pydub
opencv-python
pyheif
lama-cleaner==0.37.1
xformers==0.0.16
basicsr
gfpgan
realesrgan
paddlepaddle-gpu
imageio==2.4.1
paddlehub
triton==2.0.0
git+https://github.com/muhammad-ahmed-ghani/rembg.git
transformers
ftfy
scipy
diffusers
python-dotenv
kornia
kornia_rs
pyngrok